//VK Sans Display============================================================================================

@font-face {
    font-family: "VK Sans Display";
    font-weight: 400;
    src: url("../fonts/VKSansDisplay-Regular.ttf");
}

@font-face {
    font-family: "VK Sans Display";
    font-weight: 500;
    src: url("../fonts/VKSansDisplay-Medium.ttf");
}

@font-face {
    font-family: "VK Sans Display";
    font-weight: 600;
    src: url("../fonts/VKSansDisplay-DemiBold.ttf");
}

//MTS Wide============================================================================================

@font-face {
    font-family: "MTS Wide";
    font-weight: 500;
    src: url("../fonts/mts-wide-medium.ttf");
}

@font-face {
    font-family: "MTS Wide";
    font-weight: 700;
    src: url("../fonts/mts-wide-bold.ttf");
}