//local font =================================================================

@import "font/font";

//ICON font ============================================================================

@import "font/iconfont";

// SETTINGS ====================================================================

// font =================================================================================
$fontFamily: "VK Sans Display", sans-serif;

// colors ===================================================================
$mainColor: #171719;
$backgroundColor: #f2f4f7;
$gray: #787b8b;
$yellow: #ffdd2d;
$white: #f6f8fc;

// font settings ==============================================================
$fontSize: 16px;
$fontWeight: 400;

// sizes ======================================================================
$containerWidth: 1280px;

// 0 - without paddings
$containerPaddings: 15px;

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  flex: 1 1 auto;
}

._container {
  max-width: $containerWidth;
  padding: 0 $containerPaddings;
  margin: 0 auto;
  box-sizing: content-box;
}

// reset styles=============================================================
@import "base/null";

//blocks====================================================================
@import "blocks/header-top";
@import "blocks/header-bottom";
@import "blocks/footer-top";
@import "blocks/footer-bottom";
@import "blocks/promo";
@import "blocks/catalog-cards";
@import "blocks/answers";
@import "blocks/title";
@import "blocks/buttons";
@import "blocks/productPage/good";
@import "blocks/productPage/similar";
@import "blocks/order/make-order";
@import "blocks/catalog/catalog";
@import "blocks/input-box";
@import "blocks/catalog/other-categories";
@import "blocks/catalog/catalog-answers";
@import "blocks/successOrder/order-success";
@import "blocks/catalog-select";
@import "blocks/select";
@import "blocks/catalog/cart-btn";

//inputs outline===========================================================
input:hover, textarea:hover {
  background-color: #fff;
  outline: 1px solid #d5ddec;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: 1px solid $yellow;
  background-color: #fff;
}

.has-text {
  outline: 1px solid $yellow;
  font-size: 14px;
  color: $mainColor;
  background-color: #fff;

  &:hover {
    outline: 1px solid $yellow;
  }
}