.main {

    &__answers {
    }
}

.answers {
    padding: 50px 15px 180px 15px;
    &__container {
        padding: 60px 100px;
        background-color: #fff;
        border-radius: 16px;
        box-sizing: border-box;
    }

    &__title {
        font-family: "MTS Wide", sans-serif;;
        font-weight: 700;
        font-size: 36px;
    }

    &__wrapper {
        margin-top: 40px;
    }

    &__question {
    }
}


.question {

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        max-width: 1015px;
        font-size: 18px;
        line-height: 140%;
    }

    &__arrow {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__body {
        margin-top: 20px;
        display: none;
    }

    &__text {
    }

    &__divider {
        width: 100%;
        background: #d5ddec;
        height: 1px;
        margin-top: 20px;
    }

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}
