.main {

    &__answers {
    }
}

.answers {
    padding: 50px 0 180px 0;
    
    &__container {
    }

    &__title {
    }

    &__wrapper {
    }

    &__question {
    }
}

.answers-block {
    padding: 60px 100px;
    background-color: #fff;
    border-radius: 16px;
    box-sizing: border-box;

    &__wrapper {
        margin-top: 40px;
    }

    &__question {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}


.question {
    min-height: 46px;
    
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 7px;
        cursor: pointer;
    }

    &__title {
        max-width: 1015px;
        font-size: 18px;
        line-height: 140%;
    }

    &__arrow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        // transform: rotate(0deg);
        transition: transform 0.5s;
    }

    &__body {
        margin-top: 0;
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s;
    }

    &__text {
    }

    &__divider {
        width: 100%;
        background: #d5ddec;
        height: 1px;
        margin-top: 20px;
    }

    &_active {
        .question {

            &__body {
                margin-top: 20px;
            }

            &__arrow {
                transform: rotate(-180deg) translateY(-50%);
            }
        }
    }

  
}

@media (max-width: 1100px) {
    .answers-block {
        padding: 60px 30px;
    }
    
}


@media (max-width: 768px) {
    .answers {
        padding: 30px 0 100px 0;
    }

    .answers-block {
        padding: 15px;

        &__wrapper {
            margin-top: 20px;
        }

        &__question {
            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &:last-child {
               
                .question__divider {
                    width: 0;
                }
            }
        }
    }

    .question {

        &__head {
            align-items: flex-start;
        }

        &__title {
            font-size: 15px;
        }

        &__arrow {
            padding-top: 7px;
        }

        &__body {
            font-size: 14px;
            line-height: 150%;    
        }
    }
    
}

