.footer {
    background-color:  #2b2e3a;
    &__top {
    }

    &__divider {
        width: 100%;
        height: 1px;
        background-color:  #3d4150;
    }
}

.footer-top {
    padding: 60px 0;
    
    &__container {
        position: relative;
        display: flex;
    }

    &__logo {
        margin-right: 272px;
        flex-shrink: 0;
        position: relative;

        img {
            width: 210px;
            height: 39px;
        }

        .mobile-ring {
            display: none;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 169px;
            height: 155px;
        }
    }

    &__caption {
        font-size: 14px;
        color: $white;
        margin-top: 8px;
    }

    &__nav {
        display: flex;
        flex: 1 1 auto;
        column-gap: 115px;
        margin-right: 217px;
    }

    &__footer-menu {
    }

    &__contacts {
    }

    &__img {
        position: absolute;

        top: -32px;
        left: 261px;
        img {
            width: 169px;
            height: 155px;
        }
    }
}

.footer-menu {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex: 0 0 150px;

    &__item {
    }

    &__link {
        line-height: 130%;
        color: $white;
    }
}

.footer-contacts {
    flex-shrink: 0;

    &__top {
    }

    &__bottom {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__phone {
        font-weight: 500;
        font-size: 22px;
        line-height: 130%;
        color: $white;
    }

    &__whatsapp {
        // margin-top: 10px;
        display: flex;
        column-gap: 10px;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: $white;
        img {
            width: 28px;
            height: 28px;
        }
    }

    &__email {
        line-height: 130%;
        color: $white;
    }
}

@media (max-width: 1190px) {
    .footer-top {

        &__container {
            flex-direction: column;
            row-gap: 50px;
        }

        &__logo {
            margin-right: 0;
        }

        &__nav {
            column-gap: 30px;
            margin-right: 0;
        }

        &__img {
            padding-right: 15px;
            text-align: right;
            // display: none;
            right: 0;
            top: 0;
        }
    }
}

@media (max-width: 600px) {
    .footer-top {
        padding-top: 40px;
        padding-bottom: 30px;
        
        &__container {
            row-gap: 0;
            // align-items: center;
        }

        &__logo {
            width: 218px;
            align-self: center;

            .mobile-ring {
                display: block;
            }
        }

        &__nav {
            margin: 50px auto 0 auto;
            margin-top: 50px;
            column-gap: 72px;
            justify-content: center;
            // max-width: 400px;
        }

        &__img {
            display: none;
        }

        &__contacts {
            margin-top: 40px;
        }
    }

    .footer-menu {
        flex: 0 1 110px;
    }

    .footer-contacts {

        &__top {
            text-align: center;
        }

        &__bottom {
            margin-top: 20px;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            column-gap: 60px;
        }

        &__phone {
            font-weight: 400;
            font-size: 38px;
            line-height: 130%;
  
        }
    
        &__whatsapp {
            
        }
    
        &__email {
            line-height: 130%;
            color: $white;
        }
    }
}


@media (max-width: 320px) {
    .footer-top {

        &__container {
            row-gap: 0;
            // align-items: center;
        }

        &__logo {
            width: 218px;
            align-self: center;

            .mobile-ring {
                display: block;
            }
        }

        &__nav {
            margin: 50px auto 0 auto;
            margin-top: 50px;
            column-gap: 72px;
            justify-content: center;
            // max-width: 400px;
        }

        &__img {
            display: none;
        }

        &__contacts {
            margin-top: 40px;
        }
    }

    .footer-menu {
        flex: 0 1 110px;
    }

    .footer-contacts {

        &__top {
            text-align: center;
        }

        &__bottom {
            margin-top: 20px;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            column-gap: 30px;
        }

        &__phone {
            font-weight: 400;
            font-size: 38px;
            line-height: 130%;
  
        }
    
        &__whatsapp {
            
        }
    
        &__email {
            line-height: 130%;
            color: $white;
        }
    }
}