.header {
    background-color: #fff;

    &__top {
    }

    &__divider {
        width: 100%;
        background-color: #d5ddec;
        height: 1px;
    }
   
}

.header-top {
    padding: 17px 0 13px 0;
    position: relative;
    min-height: 55px;

    &__container {
        display: flex;
        align-items: center;
        column-gap: 10px;
        position: relative;
    }

    &__logo {
        display: none;
    }

    &__nav {
        flex: 1 1 auto;
    }

    &__header-menu {
    }

    &__socials {
    }

}

.header-menu {
    display: flex;
    column-gap: 50px;
    flex-wrap: wrap;
    &__item {
    }

    &__link {
        font-size: 15px;
        line-height: 130%;
        color: $gray;
    }
}

.socials {
    display: flex;
    column-gap: 25px;
    flex-wrap: wrap;
    &__item {
        display: flex;
        flex-shrink: 0;
        column-gap: 10px;
        align-items: center;
    }

    &__icon {
        width: 28px;
        height: 28px;
    }

    &__info {
        flex-shrink: 0;

    }
}

.hamburger {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    flex: 0 0 auto;
    // position: relative;
    width: 35px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    span {
      display: block;
      width: 100%;
      height: 3px;
      background-color: $mainColor;
      border-radius: 10px;
      transition: all 0.3s ease 0s;
    }
  
    &_active {
      & span:nth-child(2) {
        display: none;
      }
  
      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
  
        &:nth-child(1) {
          transform: rotate(45deg);
        }
  
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }

.mob-menu {
    overflow: scroll;
    padding: 20px 40px 90px 40px;
    position: absolute;
    top: 101%;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background-color: #fff;
    transition: all 0.5s ease 0s;
  
    &__nav {
    }
  
    &__mob-list {
    }
  
    &_active {
      left: 0;
    }
}

.mob-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__item {
      padding: 20px 0;

      a {
        font-size: 20px;
        line-height: 130%;
      }
    }
}

@media (max-width: 1150px) {
    .header-top {
        
        &__container {
            column-gap: 15px;
        }

    }

    .header-menu {
        column-gap: 22px;
    }
 
}

@media (max-width: 992px) {
    .header-top {
        &__container {
            justify-content: flex-start;
            column-gap: 0;
        }

        &__nav {
            display: none;
        }

        &__logo {
            display: block;
            margin-right: 35px;
        }

    }

    .socials {
        flex-direction: row;

        &__item {
            text-align: right;
        }
    }

    .hamburger {
        display: flex;
    }
}

@media (max-width: 768px) {
    .socials {
        &__item {
            &:not(:first-child) {
                display: none;
            }
        }
    }
}

@media (max-width: 500px) {
    .socials {

        &__icon {
            width: 20px;
            height: 20px;
        }
    }

    .hamburger {
        width: 20px;
        height: 18px;
    
        span {
            width: 4px;
            height: 4px;
            border-radius: 100%;
        }

        &_active {
            span {
                
            &:nth-child(1) {
                width: 100%;
                border-radius: 2px;
                height: 2px;
            }
    
            &:nth-child(3) {
                width: 100%;
                border-radius: 2px;
                height: 2px;     
            }

            }
        }
      
      }
}

@media (max-width: 380px) {
    .header-top {
        &__logo {
            display: none;
        }
    }
}