.header {
    background-color: #fff;

    &__top {
    }

    &__divider {
        width: 100%;
        background-color: #d5ddec;
        height: 1px;
    }
   
}

.header-top {
    padding: 17px 0 13px 0;
    position: relative;
    min-height: 55px;

    &__container {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    &__logo {
        display: none;
    }

    &__nav {
        flex: 1 1 auto;
    }

    &__header-menu {
    }

    &__socials {
    }

}

.header-menu {
    display: flex;
    column-gap: 50px;
    flex-wrap: wrap;
    &__item {
    }

    &__link {
        font-size: 15px;
        line-height: 130%;
        color: $gray;

        &:hover {
            color: $mainColor;
        }
    }
}

.socials {
    display: flex;
    column-gap: 25px;
    flex-wrap: wrap;
    &__item {
        display: flex;
        flex-shrink: 0;
        column-gap: 10px;
        align-items: center;
    }

    &__icon {
        width: 28px;
        height: 28px;
    }

    &__info {
        flex-shrink: 0;

        &:hover {
            text-decoration: underline;
        }
    }
}

.hamburger {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;

    &__wrapper {
        display: flex;
        width: 35px;
        height: 20px;
        flex-direction: column;
        justify-content: space-between;

        span {
            display: block;
            width: 100%;
            height: 3px;
            background-color: $mainColor;
            border-radius: 10px;
            transition: all 0.3s ease 0s;
          }
    }
  
    &_active {
        .hamburger {
            &__wrapper {
                & span:nth-child(2) {
                    display: none;
                  }
              
                  span {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
              
                    &:nth-child(1) {
                      transform: rotate(45deg);
                    }
              
                    &:nth-child(3) {
                      transform: rotate(-45deg);
                    }
                  }
            }
        }
    }
  }

@media (max-width: 1150px) {
    .header-top {
        
        &__container {
            column-gap: 15px;
        }

    }

    .header-menu {
        column-gap: 22px;
    }
 
}

@media (max-width: 992px) {
    .header-top {
        &__container {
            justify-content: flex-start;
            column-gap: 0;
        }

        &__nav {
            overflow: scroll;
            padding: 20px 40px 90px 40px;
            position: absolute;
            top: 101%;
            left: -100%;
            width: 100%;
            height: 100vh;
            z-index: 99;
            background-color: #fff;
            transition: all 0.5s ease 0s;
        
            &_active {
                left: 0;
            }
        }

        &__logo {
            display: block;
            margin-right: 35px;
        }

    }

    .header-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
        &__item {
          padding: 20px 0;
        }

        &__link {
            font-size: 20px;
            line-height: 130%;
            color: $mainColor;
        }
    }

    .socials {
        flex-direction: row;

        &__item {
            text-align: right;
        }
    }

    .hamburger {
        display: flex;
    }
}

@media (max-width: 768px) {
    .socials {
        &__item {
            &:not(:first-child) {
                display: none;
            }
        }
    }
}

@media (max-width: 500px) {
    .socials {

        &__icon {
            width: 20px;
            height: 20px;
        }
    }

    .hamburger {
        justify-content: flex-end;

        &__wrapper {
            width: 20px;
            height: 18px;
            align-items: center;
    
            span {
                width: 4px;
                height: 4px;
                border-radius: 100%;
            }
        }

        &_active {
            .hamburger {

                &__wrapper {
                    span {
                
                        &:nth-child(1) {
                            width: 18px;
                            border-radius: 2px;
                            height: 2px;
                        }
                
                        &:nth-child(3) {
                            width: 18px;
                            border-radius: 2px;
                            height: 2px;     
                        }
            
                    }
                }
            }
        }
      
      }
}

@media (max-width: 380px) {
    .header-top {
        &__logo {
            display: none;
        }
    }
}