.input-box {
    width: 100%;
    &__name {
        font-size: 12px;
        line-height: 150%;
        color: $gray;
    }

    &__input, &__select {
        width: 100%;
        border-radius: 10px;
        height: 40px;
        color: $gray;
    }

    &__input {
        padding: 10px 15px;
        background-color: $backgroundColor;
        margin-top: 8px;
    }

    &__select-wrapper {
        margin-top: 8px;
    }
}