.select {
    display: block;
    width: 100%;
    position: relative;
}

.new-select {
    border-radius: 10px;
    position: relative;
    padding: 10px 27px 10px 15px;
    cursor: pointer;
    user-select: none;
    font-size: 15px;
    line-height: 130%;
    color: $gray;
    background-color: $backgroundColor;

    &_open {
        outline: 1px solid $yellow;
        background-color: #fff;
    }
}

.selected {
    font-size: 14px;
    color: $mainColor;
    background-color: #fff;
    outline: 1px solid $yellow;
}

.new-select__list {
    position: absolute;
    top: 103%;
    left: 0;
    cursor: pointer;
    width: 100%;
    z-index: 2;
    background: #fff;
    user-select: none;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.new-select__list.on {
    display: block;
}

.new-select__item span {
    display: block;
    font-size: 14px;
    color: $mainColor;
    padding: 9px 15px;
}

.new-select__item span:hover {
    background: $backgroundColor;
}

.new-select:after {
    content: '';
    display: block;
    width: 10px;
    height: 6px;
    position: absolute;
    right: 18px;
    top: 18px;
    background: url('../icons/dropdown_arr.svg') no-repeat right center / cover;
    opacity: 0.6;
    transition: all .27s ease-in-out;
    transform: rotate(0deg);
}

.new-select.on:after {
        transform: rotate(180deg);
}