.main {

    &__good {
    }
}

.good {
    padding-top: 40px;

    &__container {
    }

    &__title {
    }

    &__photo-block {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        column-gap: 15px;
    }

    &__product-slider {
    }

    &__buy-block {
    }

    &__descr-block {
        padding-top: 30px;
    }
}

.product-slider {
    flex: 0 1 800px;
    height: 500px;
    max-height: 600px;
    background-color: #fff;
    border-radius: 24px;
    position: relative;
    overflow: hidden;

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;

        &_active {
            opacity: 1;
        }
    }

    &__arr {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        cursor: pointer;
    }

    &__mini-img-block {
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
        display: flex;
        column-gap: 10px;
        min-width: 260px;
        height: 80px;
    }

    &__mini-img {
        border-radius: 16px;
        width: 80px;
        height: 80px;
        cursor: pointer;

        img {
            border-radius: 16px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &_active {
            border: 2px solid $yellow;
        }
    }
}

.prev {
    left: 45px;
}

.next {
    right: 45px;
}

.buy-block {
    border-radius: 24px;
    flex: 0 0 440px;
    min-height: 500px;
    background-color: #fff;
    padding: 30px 40px 40px 30px;

    &__article {
        color: $gray;
        line-height: 130%;

        span {
            line-height: 130%;
            color: $mainColor;
        }
    }

    &__price {
        font-family: "MTS Wide", sans-serif;
        font-weight: 700;
        font-size: 36px;
        margin-top: 20px;
    }

    &__info {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
    }

    &__name {
        line-height: 130%;
    }

    &__value {
        line-height: 130%;
    }

    &__all-info {
        line-height: 130%;
        color: #4e7ffd;
    }

    &__actions {
        margin-top: 34px;
    }

    &__buy-btn, &__add-btn {
        display: block;
        max-width: 360px;
        padding: 17px 40px;
        font-weight: 500;
        margin: 0 auto;
        text-align: center;
    }

    &__add-btn {
        background: #f2f4f7;
        margin-top: 10px;
    }
}

.product-descr {
        padding: 40px;
        background-color: #fff;
        border-radius: 24px;
        min-height: 957px;
		&__header {
		}

		&__menu {
            display: flex;
            column-gap: 45px;
		}

		&__name {
            font-family: "MTS Wide", sans-serif;
            font-weight: 700;
            font-size: 36px;
            position: relative;
            color: $gray;
            cursor: pointer;

            &_active {
                color: $mainColor;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: -8px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: $yellow;
                    transition: all 0.5s 0 ease;
                }
            }
		}

		&__body {
            margin-top: 38px;
		}

		&__text {
            display: none;

            &_active {
                display: block;
            }
		}

		&__list {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
		}

		&__param {
            line-height: 150%;
		}
}

@media (max-width: 1200px) {
    .good {
    
        &__photo-block {
            flex-direction: column;
            row-gap: 30px;
        }
    }

    
}