.main {

    &__similar {
    }
}

.similar {
    padding-top: 50px;
    padding-bottom: 175px;

    &__container {
    }

    &__title {
    }

    &__wrapper {
        margin: 40px -13px 0 -13px;
        display: flex;
        row-gap: 27px;
        flex-wrap: wrap;
    }

    &__column {
        flex: 0 1 25%;
        padding: 0px 13px;
    }

    &__product-card {
    }
}

.product-card {
    border-radius: 24px;
    min-height: 403px;
    background-color: #fff;
    padding: 20px 20px 25px 20px;


    &__img {
        display: block;
        width: 260px;
        height: 195px;

        img {
            border-radius: 20px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {
        display: inline-block;
        line-height: 140%;
        margin-top: 20px;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 25px;
    }

    &__price {
        font-family:"MTS Wide", sans-serif;
        font-weight: 500;
        font-size: 20px;
    }

    &__btn {
        display: inline-block;
        padding: 16px 31px;
        font-size: 16px;
    }
}

@media (max-width: 1310px) {
    .similar {

    
        &__container {
        }
    
        &__title {
        }
    
        &__wrapper {
          justify-content: center;
        }
    
        &__column {
        }
    
        &__product-card {
        }
    }
    
}

@media (max-width: 768px) {
    .similar {
        padding-top: 40px;
        padding-bottom: 100px;
    
        &__wrapper {
          margin: 40px 0 0 0;
        }
    
    }
    
}

@media (max-width: 690px) {
    .similar {
    
        &__column {
          flex: 0 1 175px;
        }
    
    }

    .product-card {
        border-radius: 8px;
        min-height: 276px;
        padding: 10px 10px 15px 10px;
    
    
        &__img {
            width: 155px;
            height: 113px;
    
            img {
                border-radius: 8px;
            }
        }
    
        &__title {
            font-size: 13px;
            margin-top: 10px;
        }
    
        &__bottom {
            margin-top: 5px;
        }
    
        &__price {
            font-size: 14px;
        }
    
        &__btn {
            padding: 9px 12px;
            font-size: 12px;
        }
    }
    
    
}

