.catalog-list {

    &__cart-btn {
    }
}

.cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid #d5ddec;
    border-radius: 5px;
    max-width: 86px;
    height: 35px;
    background: #fff;
    padding: 11px 25px;
    position: relative;

    &__btn {
        display: block;
        position: absolute;
        width: 12px;
        height: 12px;
        cursor: pointer;

        &:first-child::before, &:last-child::before, &:last-child::after {
            content: "";
            display: block;
            position: absolute;
            background-color: $mainColor;
            width: 100%;
            height: 2px;
            top: 50%;
            transform: translateY(-50%);
        }

        &:last-child::after {
            transform: translateY(-50%) rotate(90deg);
        }

        &:first-child {
            left: 10px;
        }

        &:last-child {
            right: 10px;
        }

    }

    &__input {
        width: 100%;
        outline: none;
        font-size: 15px;
        line-height: 130%;
        text-align: center;

        &:hover{
            background-color: inherit;
            outline: none;
        }

        &:focus, &:active {
            outline: none;
            background-color: inherit;
        }
    }

    &_active {
        background: #b7ffdd;
        outline: none;
        input {
            background: #b7ffdd;
        }
    }

    &_disable {
        background: $white;
        input {
            background: $white;
            color: $gray;
        }

        .cart-btn__btn {
            &:first-child::before, &:last-child::before, &:last-child::after {
                background-color: $gray;
            }
        }
    }
}


// shopping cart button

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid #d5ddec;
    border-radius: 5px;
    max-width: 86px;
    height: 35px;
    background: #fff;
    padding: 11px 25px;
    position: relative;

    &_active {
        background: #b7ffdd;
        outline: none;
        input {
            background: #b7ffdd;
        }
    }

    &_disable {
        background: $white;
        input {
            background: $white;
            color: $gray;
        }

        .input-group-btn {
            &:first-child::before, &:last-child::before, &:last-child::after {
                background-color: $gray;
            }
        }
    }
}

.input-group-btn {
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    cursor: pointer;

    &:first-child::before, &:last-child::before, &:last-child::after {
        content: "";
        display: block;
        position: absolute;
        background-color: $mainColor;
        width: 100%;
        height: 2px;
        top: 50%;
        transform: translateY(-50%);
    }

    &:last-child::after {
        transform: translateY(-50%) rotate(90deg);
    }

    &:first-child {
        left: 10px;
    }

    &:last-child {
        right: 10px;
    }
}

.form-control {
    width: 100%;
    outline: none;
    font-size: 15px;
    line-height: 130%;
    text-align: center;

    &:hover{
        background-color: inherit;
        outline: none;
    }

    &:focus, &:active {
        outline: none;
        background-color: inherit;
    }
}
