.main {

    &__catalog {
    }
}

.catalog {  
    padding-top: 40px;

    &__container {
    }

    &__title {
    }

    &__wrapper {
        margin-top: 20px;
    }

    &__form{
    }

    &__form-block {
        border-radius: 8px;
        width: 100%;
        background-color: #fff;
        padding: 20px;
        transition: height 3s 0s ease;
    }

    &__hide {
        margin-top: 20px;
        text-align: center;
        display: none;

        span {
            cursor: pointer;
            line-height: 130%;
            position: relative;
            
    
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -27px;
                width: 14px;
                height: 8px;
                background: url("../icons/answer/arrow.svg");
            }
        }

        &_active {
            span {
                color: #4e7ffd;

                &::before {
                background: url("../icons/dropdown_arr_blue.svg");
                background-size: 14px;
                }
            }
        }
    }

    &__catalog-block {
        margin-top: 10px;
    }
}


.catalog-form {
    display: flex;
    column-gap: 20px;

    &__dimensions {
        display: flex;
        column-gap: 10px;
        flex: 1 0 320px;
    }

    &__input-box {
    }

    &__type {
        flex: 1 1 400px;
    }

    &__admission {
        flex: 1 1 150px;
        #admission {
            color: $mainColor;
        }
    }

    &__actions {
        padding-top: 25px;
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    &__apply {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        padding: 10px 36px;
    }

    &__reset {
        border: 1px solid #d5ddec;
        border-radius: 10px;
        padding: 9px 31px;
        width: 136px;
        line-height: 130%;
    }
}


.catalog-table {

    &__top {
        border-radius: 8px;
        background-color: #fff;
        
    }

    &__titles {
    }

    &__titles-list {
        padding: 20px 20px 15px 20px;
        display: grid;
        grid-template-columns: 209px repeat(10, 1fr);
    }

    &__titles-item {
        font-weight: 600;
        font-size: 15px;
        line-height: 130%;
        padding: 0 5px;
    }

    &__title-divider {
        background: #d5ddec;
        width: 100%;
        height: 2px;
    }

    &__page {
        padding: 0 20px 20px 20px;
        display: grid;
        grid-template-columns: 209px repeat(10, 1fr);
    }

    &__column {

        &:last-child {

            .catalog-table__item {
                    padding: 12.25px 5px;
            }
        }
    }


    &__item {
        padding: 20px 5px;
        position: relative;
        font-size: 15px;
        line-height: 130%;

        a {
            font-size: 15px;
            line-height: 130%;
        }

        &:not(:last-child) {
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 1px;
                width: 100%;
                background: #d5ddec;
            }
        }

        &_red {
            color: #ff4d47;
        }
    }

    &__form {
        display: flex;
        column-gap: 5px;

        input {
            border: 1px solid #d5ddec;
            border-radius: 5px;
            padding: 8px 5px;
            text-align: center;
            width: 46px;
            height: 35px;
        }
    }

    &__btn {
        border: 1px solid $yellow;
        border-radius: 5px;
        width: 35px;
        height: 35px;
        background: #fff8d5;

        img {
            width: 18px;
            height: 18px;
        }

        &:hover {
            background-color: $yellow;
        }
    }

    &__pagination {
        margin-top: 30px;
    }
}


.pagination {
    display: flex;
    justify-content: center;

    &__list {
        display: flex;
        column-gap: 5px;
    }

    &__item {
        cursor: pointer;
        border-radius: 22px;
        padding: 10px 18px;
        min-width: 44px;
        min-height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        background-color: #fff;
        flex-grow: 1;


        img {
            width: 7px;
            height: 10px;
        }

        &_active {
            background-color: $yellow;
        }
    }

    &__prev {
    }

    &__next {
    }
}



@media (max-width: 1080px) {
    .catalog-form {
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 10px;

        &__type {
            flex: 1 1 200px;
        }

        &__admission {
            flex: 1 1 100px;
        }

        &__actions {
            padding-top: 0;
            flex: 1 1 100%;
            flex-direction: column;
            row-gap: 10px;
            
        }
    
        &__apply {
           width: 100%;
        }
    
        &__reset {
            width: 100%;
        }
    }
}

@media (max-width:  992px) {
    .catalog {

        &__form-block {
            padding: 15px 0;
            min-height: 50px;

            .catalog__form  {
                display: none;
            }

            &_active  {
                padding: 20px;

                .catalog__form  {
                    display: flex;
                }

                .catalog__hide {
                    margin-top: 20px;
                }
            }
        }

        &__hide {
            margin: 0;
            display: block;
        }
    }
}

@media (max-width: 500px) {
    .catalog-form {

        &__type {
            flex: 1 1 100%;
        }

        &__admission {
            flex: 1 1 100%;
        }


    }
}

@media (max-width: 380px) {
    .catalog-form {


      &__dimensions {
        flex: 1 1 320px;
      }


    }
}