.main {

    &__catalog {
    }
}

.catalog {  
    padding-top: 40px;

    &__container {
    }

    &__title {
    }

    &__wrapper {
        margin-top: 20px;
    }

    &__form{
    }

    &__form-block {
        border-radius: 8px;
        width: 100%;
        background-color: #fff;
        padding: 20px;
    }

    &__hide {
        margin-top: 20px;
        text-align: center;
        display: none;

        span {
            cursor: pointer;
            line-height: 130%;
            position: relative;
            
    
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                right: -27px;
                width: 14px;
                height: 8px;
                background: url("../icons/dropdown_arr_black.svg");
                background-repeat: no-repeat;
                transition: all .27s ease-in-out;
                transform: rotate(180deg) translateY(30%);
            }
        }

        &_active {
            span {
                color: #4e7ffd;

                &::before {
                    background: url("../icons/dropdown_arr_blue.svg")  no-repeat;
                    transform: rotate(0deg) translateY(-50%);
                }
            }
        }
    }

    &__catalog-block {
        margin-top: 10px;
    }
}


.catalog-form {
    display: flex;
    column-gap: 20px;
    align-items: flex-start;


    &__dimensions {
        display: flex;
        column-gap: 10px;
        flex: 1 0 320px;
    }

    &__input-box {
    }

    &__type {
        flex: 1 1 400px;
    }

    &__admission {
        flex: 1 1 150px;
        #admission {
            color: $mainColor;
        }
    }

    &__actions {
        padding-top: 25px;
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    &__apply {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        padding: 10px 36px;
    }

    &__reset {
        border: 1px solid #d5ddec;
        border-radius: 10px;
        padding: 9px 31px;
        width: 136px;
        line-height: 130%;

        &:hover {
            background-color: $backgroundColor;
        }
    }
}




.catalog-list {
    padding: 0 10px 8px 10px;

    &__item {
        flex-shrink: 0;
        min-height: 59px;
        border-radius: 6px;
        display: flex;
        position: relative;
        font-size: 15px;
        line-height: 130%;

        &_not-available {
            color: $gray;

            .red {
                color: $gray;
            }
        }

        div {
            padding: 20px 10px;
            position: relative;
            min-height: 100%;
            min-width: 0;
            word-wrap: break-word;

            &:not(:last-child)::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 1px;
                background: #d5ddec;
                top: 0;
                right: 0;
            }

            a {
                white-space: wrap;
            }

            &:last-child { 
                padding: 12px 5px 12px 10px;
            }
        }

        &:not(:last-child) {
            &::before {
                content: "";
                position: absolute;
                left: 10px;
                right: 10px;
                bottom: 0;
                height: 1px;
                background-color:  #d5ddec;
            }
        }

        &:nth-child(2n) {
            background-color: $white;
        }
    }

    &__name {
        flex: 0 1 225px;
    }

    &__code {
        flex: 0 1 111px;
    }

    &__analogue {
        flex: 0 1 95px;
    }

    &__size {
        flex: 0 1 123px;
    }

    &__type {
        flex: 0 1 90px;
    }

    &__brand {
        flex: 0 1 106px;
    }

    &__photo {
        flex: 0 1 63px;
        cursor: pointer;
        text-align: center; 
        
        &:hover {
            .catalog-list__hover-img {
                display: block;
            }
        }
    }

    &__hover-img {
        display: none;
        position: absolute;
        width: 150px;
        height: 150px;
        top: 50%;
        left: 50%;
        z-index: 2;
        box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background-color: #fff;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__avalaible {
        flex: 0 1 118px;
    }

    &__wholesale {
        flex: 0 1 104px;
    }

    &__retail {
        flex: 0 1 110px;
    }

    &__cart {
        flex: 0 1 106px;
    }
}

.catalog-table {

    &__top {
        border-radius: 8px;
        background-color: #fff;
        
    }

    &__titles {
    }

    &__titles-list {
        padding: 20px 20px 15px 20px;
        display: flex;
    }

    &__titles-item {
        text-align: left;
        font-weight: 600;
        font-size: 15px;
        line-height: 130%;
        white-space: nowrap;

        &:not(:first-child) {
            padding-left: 10px;
        }
    
    }

    &__title-divider {
        background: #d5ddec;
        width: 100%;
        height: 2px;
    }

    &__page {
    }


    &__item {
    }

    &__form {
        display: flex;
        column-gap: 5px;

        input {
            border: 1px solid #d5ddec;
            border-radius: 5px;
            padding: 8px 5px;
            text-align: center;
            width: 46px;
            height: 35px;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $yellow;
        border-radius: 5px;
        width: 35px;
        height: 35px;
        background: #fff8d5;

        .gray-cart {
            display: none;
        }

        .black-cart {
            display: block;
        }

        img {
            width: 18px;
            height: 18px;
        }

        &:hover {
            background-color: $yellow;
        }
    }

    &__pagination {
        margin-top: 30px;
    }
}

.catalog-list-mob {
    display: none;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;

    &__item {
        border-radius: 8px;
        background-color: #fff;
        padding: 20px 15px;
        min-height: 456px;
        flex: 1 1 360px;
    }

    &__head {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
    }

    &__name {
        font-weight: 600;
        font-size: 14px;
        line-height: 130%;
    }

    &__value {
        font-size: 14px;
        line-height: 130%;
    }

    &__info {
        margin-top: 15px;

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
        }

        ul li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 8px;
        }
    }

    &__divider {
        width: 100%;
        margin-top: 15px;
        background: #d5ddec;
        height: 1px;
    }

    &__cart-block {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.red {
    color: #ff4d47;
}


.pagination {
    display: flex;
    justify-content: center;

    &__list {
        display: flex;
        column-gap: 5px;
    }

    &__item {
        cursor: pointer;
        border-radius: 22px;
        padding: 10px 18px;
        min-width: 44px;
        min-height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        background-color: #fff;
        flex-grow: 1;


        img {
            width: 7px;
            height: 10px;
        }

        &_active {
            background-color: $yellow;
        }
    }

    &__prev {
    }

    &__next {
    }
}

@media (max-width: 1135px) {
    .catalog-form {
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 10px;

        &-wrapper {
            padding: -5px;
        }

        &__type {
            flex: 1 1 200px;
        }

        &__admission {
            flex: 1 1 100px;
        }

        &__actions {
            padding-top: 0;
            flex: 1 1 100%;
            flex-direction: column;
            row-gap: 10px;
            
        }
    
        &__apply {
           width: 100%;
        }
    
        &__reset {
            width: 100%;
        }
    }
}



@media (max-width: 1090px) {

    .catalog-table {

        &__titles-item {
           font-size: 14px;
        }
    }

    .catalog-list {
        
        &__item {
            font-size: 13px;    
        }
    }
}

@media (max-width:  992px) {
    .catalog {

        &__form-block {
            padding: 15px;
            // min-height: 50px;

            .catalog__form-wrapper  {
                max-height: 0;
                overflow: hidden;
                transition: all 0.5s;
            }

            // &_active  {
            //     padding: 20px;

            //     .catalog__form  {
            //         display: flex;
            //     }

            //     .catalog__hide {
            //         margin-top: 20px;
            //     }
            // }
        }

        &__hide {
            margin: 0;
            display: block;

            &_active {
                margin-top: 20px;
            }
        }
    }

    .catalog-table {

        &__top {
            background: inherit;
        }

        &__titles {
            display: none;
        }

        &__form{
            input {
                border: 1px solid #d5ddec;
                border-radius: 5px;
                width: 46px;
                height: 40px;
            }
        }

        &__btn {
            border-radius: 5px;
            width: 100px;
            height: 40px;
            background-color: $yellow;

            img {
                width: 20px;
                height: 20px;
            }
        }
    }

    .catalog-list {
        display: none;
    }

    .catalog-list-mob {
        display: flex;
    }
}

@media (max-width: 768px) {
    .catalog {
        padding-top: 20px;
    }

    .pagination {
        &__item {
            min-width: 47px;
            min-height: 38px;
            font-size: 14px;

            &:nth-child(5), &:nth-child(6) {
                display: none;
            }

        }
    }
}

@media (max-width: 500px) {
    .catalog-form {

        &__type {
            flex: 1 1 100%;
        }

        &__admission {
            flex: 1 1 100%;
        }


    }
}

@media (max-width: 380px) {
    .catalog-form {

      &__dimensions {
        flex: 1 1 320px;
      }
    }

    .pagination {
        &__item {

            &:first-child, &:last-child {
                display: none;
            }

        }
    }
}